<style type="text/css">
table {
border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}th {
border: 1px solid grey; 
}td {
border: 1px solid grey;
}
   tr:hover {
    background: yellow; /* Цвет фона при наведении */
   }
</style>
